@{
    ViewBag.Title = "Tax";
}

@using ERP_Models.ViewModel
@model TaxModel

@*@using (@Html.BeginForm("Index", "Tax", FormMethod.Post, new { @id = "frmComp", enctype = "multipart/form-data" }))
{*@

@{if (Model.TID != null && Model.TID != 0)
  {
    @Html.HiddenFor(m => m.TID)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.HiddenFor(m => m.TTID)    
  }
  int rid = 0;
  if (Session["RoleID"] != null)
  { rid = Convert.ToInt32(Session["RoleID"].ToString()); }
        
}

<!-- **Breadcrumb Section** -->
<div class="breadcrumb-section">
    <div class="container">
        @*<h3>Company</h3>*@
        <div class="breadcrumb">
            <a href="/Dashboard/Index" title="">Home</a> / <span>Tax</span>
        </div>
    </div>
</div>
<!-- **Breadcrumb Section Ends** -->

<!--end col 6-->
<div class="col-md-12">
    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <button type="button" class="btn btn-success btn-border" id="btnAdd" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Add New</button>
            </div>
            <h2 class="panel-title">Tax List</h2>
        </header>
        <div class="panel-body">
            
            <table class="table" id="tbl">
                <thead>
                    <tr>
                        <th>
                            <div class="col-sm-5">Tax Type</div>
                            <div class="col-sm-3">Percentage(%)</div>
                            @*<div class="col-sm-3">Description</div>*@
                            <div class="col-sm-4">Status</div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.ListTax)
                    {
                        int mtid = i.TID;
                        var lst = Model.ListSTax.Where(m => m.TID == mtid).ToList();
                        <tr>
                            <td>
                                <div class="panel-group"  style="margin-bottom:0px;">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" style="position: relative;">
                                            @Html.ActionLink(" ", "Edit", new { @id = i.TID }, new { @class = "fa fa-pencil-square fa-2x", @style = "position: absolute;    right: 20px;top: 18px;" })
                                            <h4 class="panel-title">
                                                @*<a data-toggle="collapse" href="#@i.TID"><b>Tax Type : </b>@i.Name&nbsp;<b>Percentage : </b>@i.Percentage</a>*@
                                                <a data-toggle="collapse" href="#@i.TID">
                                                    <table style="width: 100%;">
                                                        <tr>
                                                          @if (lst.Count > 0)
                                                            {                        
                                                                @*<td><b><i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;Tax Type :</b></td>*@
                                                                <td style="width:40%"><i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;@i.Name</td>
                                                            }
                                                            else
                                                            {
                                                                @*<td><b>&nbsp;&nbsp;&nbsp;Tax Type :</b></td>*@
                                                                <td style="width:40%;">&nbsp;&nbsp;&nbsp;@i.Name</td>
                                                          }
                                                            @*<td><b>Percentage(%) : </b></td>*@
                                                            <td style="width:30%;">@i.Percentage%</td>
                                                            @*<td style="width:50%">@i.Description</td>*@
                                                            @*<td><b>Status : </b></td>*@
                                                            <td style="width:30%;">@i.Status</td>
                                                        </tr>
                                                    </table>

                                                </a>

                                            </h4>

                                        </div>
                                        @foreach (var s in Model.ListSTax)
                                        {
                                            int stid = s.TID;
                                            if (mtid == stid)
                                            {
                                
                                            <div id="@i.TID" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    @*<h4>Sub Tax Details</h4>*@
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Sub Tax Type</th>
                                                                <th>Percentage(%)</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var sub in lst)
                                                            {
                                                                <tr>
                                                                    <td>@sub.Name</td>
                                                                    <td>@sub.Percentage%</td>
                                                                    <td>@sub.Status</td>
                                                                    <td>@Html.ActionLink(" ", "EditSTax", new { @id = sub.TTID }, new { @class = "fa fa-pencil-square fa-lg" })</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                @*<div class="panel-footer">Panel Footer</div>*@
                                            </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr> 
                    }
                </tbody>
            </table>
        </div>
        <!--end panel body-->
    </div>
    <!--end panel-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tax Details</h4>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Main Tax</a></li>
                        <li><a data-toggle="tab" href="#menu1">Sub Tax</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Tax Details</h3>
                            <form action="/Tax/Index" method="post">
                                @Html.Label("* Tax Type", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name)

                                </div>
                                @Html.Label("* Percentage(%)", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Percentage, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Percentage)

                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("Description", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })

                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <input type="submit" value="Save Tax" id="btnSave" name="cmd" class="btn btn-primary" />
                                    <input type="submit" value="Update" id="btnUpdate" name="cmd" class="btn btn-primary" />
                                    &nbsp;<a href="/Tax/Index" class="btn btn-danger">Cancel</a>
                                </div>
                            </form>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Sub Tax Details</h3>
                            <form action="/Tax/Index" method="post">
                                @Html.Label("* Tax Type", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.TID, new SelectList(Model.ListActiveTax, "TID", "Name"), "--Select Tax Type--", new { @class = "form-control", @id = "ddlTax" })
                                    @Html.ValidationMessageFor(m => m.TID)
                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("* Tax Type", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SName)

                                </div>
                                @Html.Label("* Percentage(%)", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SPercentage, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SPercentage)

                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                @Html.Label("Description", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.SDescription, new { @class = "form-control" })

                                </div>
                                <div class="col-sm-12" style="height: 5px;"></div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <input type="submit" value="Save Sub Tax" id="btnSaveSTax" name="cmd" class="btn btn-primary" />
                                    &nbsp;<a href="/Tax/Index" class="btn btn-danger">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
            </div>

        </div>
    </div>
</div>
<!--end col 6-->








